@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@800&display=swap');


* {
  font-family: Arial, Helvetica, sans-serif;

  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  outline: none;


}


.navbar {
  position: fixed;
  top: 0;
  height: 80px;
  display: none;
  align-items: center;
  background-color: transparent;
  color: purple;
  padding: 10px;
  transition: top 0.3s ease-it-out;

}

.navbar.visible {
  display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar.show {
  top: 0;
}




.navbar a {
  font-size: 22px;
  text-decoration: none;
  text-align: left;
  padding-right: 40px;
  color: rgb(28, 27, 27);
  padding-top: 20px;
  padding-left: 0;
  padding-bottom: 30px;
  display: inline-block;
  padding: 5px 20px;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  border: 2px solid transparent;

}

.tabs{
  display: flex;
  align-items: center;
}

#log {
  margin-right: 70px;
}

.navbar img {
  height: 70px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;

}

.navbar a:hover {
  color: #000000;
  transform: scale(1.05);
  background-color: #EADBD3;
  border-color: rgb(193, 185, 169);
  /* padding: 3px 8px; */
  border-radius: 6px;
}

#name :hover {
  color: #000000;
  transform: scale(1.05);
  background-color:transparent;
  border:2px solid transparent;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  /* Additional styles for the fixed navbar */
}

#naam a {
  font-size: 35px;
  padding-right: 60px;
  font-family: 'Wix Madefor Display', sans-serif;

}

.pen-container {
  position: relative;
  display: inline-block;
}

.pen-image {
  /* position: absolute; */
  top: -20px;
  left: 50%;
  /* transform: translateX(-50%); */
} 


.front p {
  text-align: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
  color: black;
  font-style: 'Martian Mono';
}

.cont {
  background-color: #d1bab5;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan {
  font-size: 20px;
  font-family: 'Martian Mono', monospace;
  margin-top: 0px;
  color:black;
}


.front {

  align-items: center;
    justify-content: center;
    /* height: 100vh; */
    background-color: #d1bab5;
    justify-content: center;
    display: flex;
    box-sizing: border-box;

}

h1 {
  /* padding-top: 200px; */
  font-size: 150px;
  text-align: center;
  font-size: 150px;
  font-family: 'Wix Madefor Display', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 3s steps(10) 1 alternate, blink 800ms steps(10) infinite normal;
  border-right: 3px solid black;
  /* width:100vw; */
}

@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
    /* Adjust the width according to the word length */
  }
}

@keyframes blink {
  from {
    border-color: black;
  }

  to {
    border-color: transparent;
  }
}



/* .front img{
      margin-top:150px;
      margin-left:90px;
      max-height:100%;
  } */



.box1 {
  font-family: monospace;
  margin-left: 2%;
  margin-top: 7%;


  font-size: 50px;
}

#p1 {
  padding-top:70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: rgb(0, 0, 0);
  

}

#p2 {
  margin-top: 15px;
  font-style: 'Martian Mono';
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(48, 42, 48);
  letter-spacing: -1px;
}

button {

  padding: 10px 15px;
  font-size: 22px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  background-color: #e6d0cb;
  border: #cec9c9;

}

button:hover {
  background-color: #dabcb5;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


video {
  margin-top: 180px;
  margin-right: 40px;
  height: 350px;
  width: 650px;
  object-fit: contain;
  overflow: clip;
  
}



#about {
  padding-left: 30px;
  height: 100vh;
  background-color: #9A8C98;


}

.abt_container {
  display: grid;
  grid-template-columns: 0.01fr 0.01fr 0fr;
  grid-gap: 5px;
  margin-top: 105px;
  margin-left: 10px;
  margin-right: 10px;
  height: 90vh;
  margin-bottom: 20px;

}

.column {
  margin-left: 100px;
  background-color: #b6aab4;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 350px;
  width: 350px;
}

.col {
  text-align: center;
  height: 200px;
  margin-top: 0px;
}

.col img {
  height: 350px;

}

h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  color: #e9e3e3;
  font-size: 1.3rem;
  line-height: 1.4;
  font-family: 'Martian Mono', monospace !important;
  text-align: left;
}


#a1 {
  font-style: 'monoscape';
  font-size: 30px;
  padding-left: 60px;
  color: white
}

#a2 {
  font-style: inherit;
  padding-left: 20px;

}

.page4 {
  height: 100vh;
  background-color: #9A8C98;
}

.page4 h2 {
  font-size: 2.8rem;
  color: black;
  font-weight: bold;
  text-align: center;
  padding-top: 70px;
  font-family: emoji;

  font-family: 'Wix Madefor Display', sans-serif;
}

.discover {
  display: flex;
  grid-template-columns: 0.01fr 0.01fr 0fr;
  background-color: #9A8C98;
  margin-left: 40px;
  margin-right: 40px;


}

.box {
  flex: 1;
  height: 350px;
  margin-top: 70px;
  margin-left: 40px;
  margin-right: 10px;
  background-color: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  /* width:100px; */
  font-family: 'Martian Mono', monospace !important;

}

.box p {
  padding-top: 20px;
  font-family: 'Martian Mono', monospace !important;


}


.discover h2 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-bottom: 10px;
}

.discover p {
  color: white;
  font-size: 18px;
  line-height: 1.8;
  font-family: 'cursive';


}

.content {
  padding-top: 10px;
  display: flex;
  /* height: 100vh; */
  background-color: #9A8C98;
  /* background-size: cover; */
  justify-content: space-evenly;
  align-items: center;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* opacity: 1; */
  padding: 10px;
  font-style: 'Martian Mono';
}

.elements {
  display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}


.page5 {
  padding-top: 120px;
  background-color: #F2E9E4;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.elements2 {
  display: flex;
  flex-direction: row;justify-content: center;
  align-items: center;
}


.row {
display: flex;
flex-direction: row;
align-items: center;
width: 53%;
padding: 20px;
justify-content: space-evenly;
background-color: #EADBD3;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin: 40px auto;
}

.rowcontent {
  align-items: center;
  /* border-radius: 5px; */
  /* height: 120px; */
  margin: 20px;
  width: 80%;

}


.row p {
  color: black;
  font: bold;
  font-family: 'Martian Mono', monospace !important;

}
.rowsvg{
  width: 7%;
}
.flexx {
  flex: 1;
}

#contact {
  height: 100px;
  background-color: #9A8C98;
  color: white;
  padding-top: 30px;
  padding-left: 30px;
  display: flex;

}

#contact h2 {
  font-size: 18px;
  font-family: cursive;
  margin-bottom: 10px;
}

#contact p {
  margin-top: 30px;
  margin-left: 150px;
  font-style: 'Martian Mono';
  font-size: 16px;
}

#contact img {
  align-items: right;
  margin-left: 13px;
  margin-top: 28px;
  width: 30px;
}

#SM {
  display: flex;
  align-content: right;
  padding-left: 700px;

}

#SM i{
  padding:5px;
  font-size: 28px;

}

#contact img:hover {
  background-color: #d0b9b9;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}